.filtersView{
    background: #1B1726;
    width: 100%;
    height: 100vh;
}

.filterView__container {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: scroll;
    height: 100vh;
}
.filterView__card {
    position: relative;
    width: 30vh;
    display: inline-flex;  
}
