*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html{
    margin: 0px;
}

.AppMain{
    margin: 0;
}

.btn{
    position: absolute;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 1000;
    border: none;
    width: 5vh;
    height: 5vh;
}

.btnAddCard {
    bottom: 2vh;
    right: 2vh;
    background: red;
}

.btnChangeView {
    bottom: 10vh;
    right: 2vh;
    background: green;
}