*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
   


body{
    margin: 0px;
}

.AppMain{
}

.buttonAddCard{
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 1000;
    background: red;
    border: none;
    width: 5vh;
    height: 5vh;
}