.toggleElemOption{
    display: inline;
    width: 100vh;
    margin: 10px;
    
}
.toggleElemOption__label {
    display: inline-block;
    width: 15vh;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 50px;
    cursor: pointer;
  }
  
  .toggleElemOption input[type=checkbox]:checked + .toggleElemOption__label{
    color: #543CCF;
    border: 2px solid #543CCF;
    cursor: pointer;
}

.toggleElemOption__input{
    display: none;
}

/* Styles for checkbox with images */

.toggleImgOption{
  display: flex;
  margin: 10px;
}

.toggleImgOption__label {
  text-align: center;
  border: 2px solid #ddd;
  line-height: 0vh;
  cursor: pointer
}

.toggleImgOption__label img {
  width: 25vh;
}

.toggleImgOption input[type=checkbox]:checked + .toggleImgOption__label{
  border: 2px solid #543CCF;
  cursor: pointer;
}

.toggleImgOption__input{
  display: none;
}