.CardItem {
    width: 90%;
    max-width: 100%;
    user-select: none;
    margin: 0 0 20px 0;
    background: #7059E3;
    overflow-x: hidden;
    border-radius: 10px;
}

.CardItem__title {
    color: white;
}

.CardItem h1 {
    width: 100%;
    margin: 0px;
    font-size: 1.0rem;
    padding: 7px;
}

.CardItem img {
    width: 100%;
}

.CardItem__categories {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0px 7px 7px 7px;
}

.CardItem__categories--item{
    border: 0.5px solid white;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 0 10px 0 0;
    display: inline-flex;
}

.CardItem__categories--item span{
    font-size: 0.7rem;
}