.MainItem{
    position: absolute;
    top: 0px;
    width: 100%;
}

.MainItem--background{
    position: absolute;
    top: 0px;
    background: black;
    width: 100%;
    height: 100vh;
    opacity: 50%;
    z-index: 5;
}

.MainItem--content{
    position: absolute;
    background: chartreuse;
    opacity: 100%;
    width: 80%;
    margin: 0px auto;
    display: flex;
    top: 15vh;
    right: 15vh;
    z-index: 10;
}


.MainItem img{
    display: inline;
    margin: 20px;
}

.content{
    display: inline-block;
}

.content h1{
  
}