.List {
    display: inline-block;
    overflow-y: scroll;
    flex-direction: row;
    position: relative;
    user-select: none;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.List--selected{
    background: #2B343B;
}

.List__title {
    background: #1B1726;
    display: flex;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    justify-content: center;
}

.List__title span {
    margin: auto 10px;
    padding: 1px 5px;
    border: 2px solid #47545F;
}

.List__content {
    display: grid;
    place-items: center;

}   
/* 
.List1, .List5{
    width: 15%;
}

.List2, .List4 {
    width: 20%;
}

.List3 {
    width: 30%;
} */